body {

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}

.header {

    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px ;
}

.logo {

    font-weight: 800;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;

}

.nav-links {

   
    flex-direction: row;
    margin-left: auto;
    margin-right: 25px;
    

}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    
      
}

.dash-text{
    
    margin-left: 25px;
    overflow-wrap: break-word;

}
.dash-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    
}

.dash-subtext {
    color: white;
    font-size: 18px;
    font-weight: 100;

}

button {

    background-color: #3882F6;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px;
}

.dash-img {

    padding: 15px;
    
}