body {

    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}

.header {

    background-color: #1a2849;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px ;
}

.logo {

    font-weight: 800;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;

}

.nav-links {

   
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    

}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.dashboard {
    display: flex;
    align-items: center;
    background-color: #1F2937;
      
}

.dash-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

}
.dash-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    align-self: flex-start;
}

button {

    background-color: #3882F6;
    color: white;
    padding: 15px;
    border: 1px solid white;
    flex-grow: 0;
}

.dash-img {

    max-width: 150px;
    border: 1px solid red;
}